.app {
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  color: #222;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-body {
  display: flex;
  padding: 1rem;
  flex-direction: row;
  gap: 1rem;
}

.app-header {
  padding: 0 4rem ;
  background-image: linear-gradient(var(--accent) 0%, #00132d 100%);
  color: white;
  margin-bottom: 4vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.map-wrap {
  padding: 1rem;
  flex: 1;
}

.leaflet-container {
  height: 70vh;
  width: 100%;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

